/* Compensate for the fixed nav bar at the top */
body { padding-top: 50px; }

.general_section {
    background:rgba(255, 212, 77, 1);
    height:2em;
    width: 100%;
    padding: 1em 0 2em 1em;
}

section h1.section_header_label{
    background-color: rgb(255, 212, 77);
    height:100%;
    padding: 20px;
}
section h1.general_section{
    background:black;
    color:white;
}

footer {
    margin-top:2em;
    background:url("../images/bubblestop.png") repeat-x;
    padding-top:2em;
}

footer section {
    padding:3em 0 3em 3em;
    background-color: rgb(255, 212, 77);
}
